.i-phone1415-pro3-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.i-phone1415-pro3-thq-i-phone1415-pro3-elm {
  width: 100%;
  height: 852px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
 
.i-phone1415-pro3-thq-footer-elm {
  top: 770px;
  left: 0px;
  width: 393px;
  height: 82px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(217, 217, 217, 1);
}
 
.i-phone1415-pro3-thq-statistikbutton-elm1 {
  top: 10px;
  left: 90px;
  width: 60px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.i-phone1415-pro3-thq-increase-elm1 {
  top: 5px;
  left: 4px;
  width: 50px;
  height: 50px;
  position: absolute;
}
 
.i-phone1415-pro3-thq-ellipse1-elm1 {
  top: 0px;
  left: 0px;
  width: 60px;
  height: 60px;
  position: absolute;
  border-color: rgba(0, 0, 0, 0.5);
  border-style: solid;
  border-width: 1px;
}
 
.i-phone1415-pro3-thq-homebutton-elm {
  top: 10px;
  left: 13px;
  width: 60px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.i-phone1415-pro3-thq-home-elm {
  top: 4px;
  left: 5px;
  width: 50px;
  height: 50px;
  position: absolute;
}
 
.i-phone1415-pro3-thq-ellipse7-elm {
  top: 0px;
  left: 0px;
  width: 60px;
  height: 60px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
 
.i-phone1415-pro3-thq-kalenderbutton-elm {
  top: 10px;
  left: 319px;
  width: 60px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.i-phone1415-pro3-thq-calendar-elm {
  top: 6px;
  left: 6px;
  width: 50px;
  height: 50px;
  position: absolute;
}
 
.i-phone1415-pro3-thq-ellipse6-elm {
  top: 0px;
  left: 0px;
  width: 60px;
  height: 60px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
 
.i-phone1415-pro3-thq-fitnessbutton-elm {
  top: 10px;
  left: 243px;
  width: 60px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.i-phone1415-pro3-thq-ellipse3-elm {
  top: 0px;
  left: 0px;
  width: 60px;
  height: 60px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
 
.i-phone1415-pro3-thq-barbell-elm {
  top: 4px;
  left: 4px;
  width: 50px;
  height: 50px;
  position: absolute;
}
 
.i-phone1415-pro3-thq-essenbutton-elm {
  top: 10px;
  left: 167px;
  width: 60px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.i-phone1415-pro3-thq-ellipse9-elm {
  top: 0px;
  left: 0px;
  width: 60px;
  height: 60px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
 
.i-phone1415-pro3-thq-apple-fruit-elm {
  top: 3px;
  left: 1px;
  width: 57px;
  height: 55px;
  position: absolute;
}
 
.i-phone1415-pro3-thq-ability-geschwindigkeit-elm {
  top: 713px;
  left: -2px;
  width: 393px;
  height: 49px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(253, 253, 253, 0.5299999713897705);
}
 
.i-phone1415-pro3-thq-text-elm10 {
  top: 10px;
  left: 59px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.i-phone1415-pro3-thq-text-elm11 {
  top: 10px;
  left: 275px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.i-phone1415-pro3-thq-ability-koordination-elm {
  top: 664px;
  left: -2px;
  width: 393px;
  height: 49px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(253, 253, 253, 0.5299999713897705);
}
 
.i-phone1415-pro3-thq-text-elm12 {
  top: 10px;
  left: 59px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.i-phone1415-pro3-thq-text-elm13 {
  top: 10px;
  left: 275px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.i-phone1415-pro3-thq-ability-kraft-elm {
  top: 615px;
  left: -2px;
  width: 393px;
  height: 49px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(253, 253, 253, 0.5299999713897705);
}
 
.i-phone1415-pro3-thq-text-elm14 {
  top: 10px;
  left: 59px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.i-phone1415-pro3-thq-text-elm15 {
  top: 10px;
  left: 275px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.i-phone1415-pro3-thq-ability-beweglichkeit-elm {
  top: 566px;
  left: -2px;
  width: 393px;
  height: 49px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(253, 253, 253, 0.5299999713897705);
}
 
.i-phone1415-pro3-thq-text-elm16 {
  top: 10px;
  left: 59px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.i-phone1415-pro3-thq-text-elm17 {
  top: 10px;
  left: 275px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.i-phone1415-pro3-thq-ability-ausdauer-elm {
  top: 517px;
  left: 0px;
  width: 393px;
  height: 49px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(253, 253, 253, 0.5299999713897705);
}
 
.i-phone1415-pro3-thq-text-elm18 {
  top: 10px;
  left: 58px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.i-phone1415-pro3-thq-text-elm19 {
  top: 10px;
  left: 273px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.i-phone1415-pro3-thq-ausdauer1-elm {
  top: -525px;
  left: -366px;
  width: 794px;
  height: 1122.5196533203125px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.i-phone1415-pro3-thq-layer1-elm1 {
  top: 233.99998474121094px;
  left: 446px;
  width: 133.4153594970703px;
  height: 94.99820709228516px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.i-phone1415-pro3-thq-stats-diagramm1-elm {
  top: 136px;
  left: 29px;
  width: 342px;
  height: 454px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.i-phone1415-pro3-thq-layer1-elm2 {
  top: 52.52574157714844px;
  left: 4.312183856964111px;
  width: 327.4022521972656px;
  height: 312.76483154296875px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.i-phone1415-pro3-thq-path4-elm {
  top: 46.11684799194336px;
  left: 36.91159439086914px;
  width: 249px;
  height: 223px;
  position: absolute;
}
 
.i-phone1415-pro3-thq-path5-elm {
  top: 96.3885726928711px;
  left: 73.24742126464844px;
  width: 149px;
  height: 152px;
  position: absolute;
}
 
.i-phone1415-pro3-thq-path25-elm {
  top: 114.36123657226562px;
  left: 1.0911035985827766e-7px;
  width: 30px;
  height: 27px;
  position: absolute;
}
 
.i-phone1415-pro3-thq-path26-elm {
  top: 274.5274658203125px;
  left: 239.07736206054688px;
  width: 34px;
  height: 36px;
  position: absolute;
}
 
.i-phone1415-pro3-thq-path27-elm {
  top: 3.443025775595743e-7px;
  left: 135.3871307373047px;
  width: 57px;
  height: 38px;
  position: absolute;
}
 
.i-phone1415-pro3-thq-path28-elm {
  top: 271.5836181640625px;
  left: 46.93077087402344px;
  width: 44px;
  height: 41px;
  position: absolute;
}
 
.i-phone1415-pro3-thq-path29-elm {
  top: 107.98831176757812px;
  left: 294.4373779296875px;
  width: 33px;
  height: 24px;
  position: absolute;
}
 
.i-phone1415-pro3-thq-level-balken1-elm {
  top: 117px;
  left: -27px;
  width: 335px;
  height: 414px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.i-phone1415-pro3-thq-layer1-elm3 {
  top: -4.4257636070251465px;
  left: -0.000003824631221505115px;
  width: 305.49114990234375px;
  height: 52.9122428894043px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.i-phone1415-pro3-thq-rect1-elm {
  top: 36.39487075805664px;
  left: 40.85410690307617px;
  width: 265px;
  height: 17px;
  position: absolute;
}
 
.i-phone1415-pro3-thq-rect2-elm {
  top: 38.97321319580078px;
  left: 42.332698822021484px;
  width: 205px;
  height: 12px;
  position: absolute;
}
 
.i-phone1415-pro3-thq-vector-elm1 {
  top: 68px;
  left: 41px;
  width: 46px;
  height: 30px;
  position: absolute;
}
 
.i-phone1415-pro3-thq-text-elm20 {
  top: 105px;
  left: 12px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Extra Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.i-phone1415-pro3-thq-header-elm {
  top: 0px;
  left: 0px;
  width: 393px;
  height: 82px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.i-phone1415-pro3-thq-rectangle2-elm {
  top: 0px;
  left: 0px;
  width: 393px;
  height: 82px;
  position: absolute;
}
 
.i-phone1415-pro3-thq-profilbutton-elm {
  top: 13px;
  left: 14px;
  width: 60px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.i-phone1415-pro3-thq-vector-elm2 {
  top: 5px;
  left: 7px;
  width: 45px;
  height: 45px;
  position: absolute;
}
 
.i-phone1415-pro3-thq-ellipse4-elm {
  top: 0px;
  left: 0px;
  width: 60px;
  height: 60px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
 
.i-phone1415-pro3-thq-einstellungsbutton-elm {
  top: 13px;
  left: 320px;
  width: 60px;
  height: 61px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.i-phone1415-pro3-thq-ellipse8-elm {
  top: 1px;
  left: 0px;
  width: 60px;
  height: 60px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
 
.i-phone1415-pro3-thq-gear-elm {
  top: 0px;
  left: 0px;
  width: 60px;
  height: 60px;
  position: absolute;
}
 
.i-phone1415-pro3-thq-statistikbutton-elm2 {
  top: 13px;
  left: 167px;
  width: 60px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.i-phone1415-pro3-thq-increase-elm2 {
  top: 5px;
  left: 4px;
  width: 50px;
  height: 50px;
  position: absolute;
}
 
.i-phone1415-pro3-thq-ellipse1-elm2 {
  top: 0px;
  left: 0px;
  width: 60px;
  height: 60px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
 
.i-phone1415-pro3-link {
  display: contents;
}
 
.i-phone1415-pro3-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.i-phone1415-pro3-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.i-phone1415-pro3-text {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
