.i-phone1415-pro15-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.i-phone1415-pro15-thq-i-phone1415-pro15-elm {
  width: 100%;
  height: 852px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
 
.i-phone1415-pro15-thq-footer-elm {
  top: 770px;
  left: 0px;
  width: 393px;
  height: 82px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(217, 217, 217, 1);
}
 
.i-phone1415-pro15-thq-statistikbutton-elm {
  top: 10px;
  left: 90px;
  width: 60px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.i-phone1415-pro15-thq-increase-elm {
  top: 5px;
  left: 4px;
  width: 50px;
  height: 50px;
  position: absolute;
}
 
.i-phone1415-pro15-thq-ellipse1-elm {
  top: 0px;
  left: 0px;
  width: 60px;
  height: 60px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
 
.i-phone1415-pro15-thq-homebutton-elm {
  top: 10px;
  left: 13px;
  width: 60px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.i-phone1415-pro15-thq-home-elm {
  top: 4px;
  left: 5px;
  width: 50px;
  height: 50px;
  position: absolute;
}
 
.i-phone1415-pro15-thq-ellipse7-elm {
  top: 0px;
  left: 0px;
  width: 60px;
  height: 60px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
 
.i-phone1415-pro15-thq-kalenderbutton-elm {
  top: 10px;
  left: 319px;
  width: 60px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.i-phone1415-pro15-thq-calendar-elm {
  top: 6px;
  left: 6px;
  width: 50px;
  height: 50px;
  position: absolute;
}
 
.i-phone1415-pro15-thq-ellipse6-elm {
  top: 0px;
  left: 0px;
  width: 60px;
  height: 60px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
 
.i-phone1415-pro15-thq-fitnessbutton-elm1 {
  top: 10px;
  left: 243px;
  width: 60px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.i-phone1415-pro15-thq-ellipse3-elm1 {
  top: 0px;
  left: 0px;
  width: 60px;
  height: 60px;
  position: absolute;
  border-color: rgba(0, 0, 0, 0.5);
  border-style: solid;
  border-width: 1px;
}
 
.i-phone1415-pro15-thq-barbell-elm1 {
  top: 4px;
  left: 4px;
  width: 50px;
  height: 50px;
  position: absolute;
}
 
.i-phone1415-pro15-thq-essenbutton-elm {
  top: 10px;
  left: 167px;
  width: 60px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.i-phone1415-pro15-thq-ellipse9-elm {
  top: 0px;
  left: 0px;
  width: 60px;
  height: 60px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
 
.i-phone1415-pro15-thq-apple-fruit-elm {
  top: 3px;
  left: 1px;
  width: 57px;
  height: 55px;
  position: absolute;
}
 
.i-phone1415-pro15-thq-header-elm {
  top: 0px;
  left: 0px;
  width: 393px;
  height: 82px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.i-phone1415-pro15-thq-rectangle2-elm {
  top: 0px;
  left: 0px;
  width: 393px;
  height: 82px;
  position: absolute;
}
 
.i-phone1415-pro15-thq-profilbutton-elm {
  top: 13px;
  left: 14px;
  width: 60px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.i-phone1415-pro15-thq-vector-elm1 {
  top: 5px;
  left: 7px;
  width: 45px;
  height: 45px;
  position: absolute;
}
 
.i-phone1415-pro15-thq-ellipse4-elm {
  top: 0px;
  left: 0px;
  width: 60px;
  height: 60px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
 
.i-phone1415-pro15-thq-einstellungsbutton-elm {
  top: 13px;
  left: 320px;
  width: 60px;
  height: 61px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.i-phone1415-pro15-thq-ellipse8-elm {
  top: 1px;
  left: 0px;
  width: 60px;
  height: 60px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
 
.i-phone1415-pro15-thq-gear-elm {
  top: 0px;
  left: 0px;
  width: 60px;
  height: 60px;
  position: absolute;
}
 
.i-phone1415-pro15-thq-fitnessbutton-elm2 {
  top: 10px;
  left: 166px;
  width: 60px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.i-phone1415-pro15-thq-ellipse3-elm2 {
  top: 0px;
  left: 0px;
  width: 60px;
  height: 60px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
 
.i-phone1415-pro15-thq-barbell-elm2 {
  top: 4px;
  left: 4px;
  width: 50px;
  height: 50px;
  position: absolute;
}
 
.i-phone1415-pro15-thq-text-elm10 {
  top: 207px;
  left: 14px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Extra Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.i-phone1415-pro15-thq-framebung1-lattzug-elm {
  top: 309px;
  left: -2px;
  width: 393px;
  height: 49px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 0.5299999713897705);
}
 
.i-phone1415-pro15-thq-text-elm13 {
  top: 10px;
  left: 58px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.i-phone1415-pro15-thq-frame-button-elm1 {
  top: 8px;
  left: 354px;
  width: 26px;
  height: 29px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.i-phone1415-pro15-thq-ellipse10-elm1 {
  top: 3px;
  left: 0px;
  width: 26px;
  height: 26px;
  position: absolute;
}
 
.i-phone1415-pro15-thq-framebung2enges-rudern-elm {
  top: 358px;
  left: -2px;
  width: 393px;
  height: 49px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 0.5299999713897705);
}
 
.i-phone1415-pro15-thq-text-elm14 {
  top: 10px;
  left: 58px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.i-phone1415-pro15-thq-frame-button-elm2 {
  top: 8px;
  left: 354px;
  width: 26px;
  height: 29px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.i-phone1415-pro15-thq-ellipse10-elm2 {
  top: 3px;
  left: 0px;
  width: 26px;
  height: 26px;
  position: absolute;
}
 
.i-phone1415-pro15-thq-framebung3breites-rudern-elm {
  top: 407px;
  left: -2px;
  width: 393px;
  height: 49px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 0.5299999713897705);
}
 
.i-phone1415-pro15-thq-text-elm15 {
  top: 10px;
  left: 58px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.i-phone1415-pro15-thq-frame-button-elm3 {
  top: 8px;
  left: 354px;
  width: 26px;
  height: 29px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.i-phone1415-pro15-thq-ellipse10-elm3 {
  top: 3px;
  left: 0px;
  width: 26px;
  height: 26px;
  position: absolute;
}
 
.i-phone1415-pro15-thq-framebung4-lattberzug-elm {
  top: 456px;
  left: -2px;
  width: 393px;
  height: 49px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 0.5299999713897705);
}
 
.i-phone1415-pro15-thq-text-elm16 {
  top: 10px;
  left: 58px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.i-phone1415-pro15-thq-frame-button-elm4 {
  top: 8px;
  left: 354px;
  width: 26px;
  height: 29px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.i-phone1415-pro15-thq-ellipse10-elm4 {
  top: 3px;
  left: 0px;
  width: 26px;
  height: 26px;
  position: absolute;
}
 
.i-phone1415-pro15-thq-framebung5incline-curls-elm {
  top: 505px;
  left: -2px;
  width: 393px;
  height: 49px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 0.5299999713897705);
}
 
.i-phone1415-pro15-thq-text-elm17 {
  top: 10px;
  left: 58px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.i-phone1415-pro15-thq-frame-button-elm5 {
  top: 8px;
  left: 354px;
  width: 26px;
  height: 29px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.i-phone1415-pro15-thq-ellipse10-elm5 {
  top: 3px;
  left: 0px;
  width: 26px;
  height: 26px;
  position: absolute;
}
 
.i-phone1415-pro15-thq-framebung6reverse-fly-elm {
  top: 554px;
  left: -2px;
  width: 393px;
  height: 49px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 0.5299999713897705);
}
 
.i-phone1415-pro15-thq-text-elm18 {
  top: 10px;
  left: 58px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.i-phone1415-pro15-thq-frame-button-elm6 {
  top: 8px;
  left: 354px;
  width: 26px;
  height: 29px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.i-phone1415-pro15-thq-ellipse10-elm6 {
  top: 3px;
  left: 0px;
  width: 26px;
  height: 26px;
  position: absolute;
}
 
.i-phone1415-pro15-thq-text-elm19 {
  top: 144px;
  left: 14px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.i-phone1415-pro15-thq-vector-elm2 {
  top: 98px;
  left: 10px;
  width: 46px;
  height: 30px;
  position: absolute;
}
 
.i-phone1415-pro15-link {
  display: contents;
}
 
.i-phone1415-pro15-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.i-phone1415-pro15-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.i-phone1415-pro15-text2 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
