.i-phone1415-pro24-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.i-phone1415-pro24-thq-i-phone1415-pro24-elm {
  width: 100%;
  height: 852px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
 
.i-phone1415-pro24-thq-footer-elm {
  top: 770px;
  left: 0px;
  width: 393px;
  height: 82px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(217, 217, 217, 1);
}
 
.i-phone1415-pro24-thq-statistikbutton-elm1 {
  top: 10px;
  left: 90px;
  width: 60px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.i-phone1415-pro24-thq-increase-elm1 {
  top: 5px;
  left: 4px;
  width: 50px;
  height: 50px;
  position: absolute;
}
 
.i-phone1415-pro24-thq-ellipse1-elm1 {
  top: 0px;
  left: 0px;
  width: 60px;
  height: 60px;
  position: absolute;
  border-color: rgba(0, 0, 0, 0.5);
  border-style: solid;
  border-width: 1px;
}
 
.i-phone1415-pro24-thq-homebutton-elm {
  top: 10px;
  left: 13px;
  width: 60px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.i-phone1415-pro24-thq-home-elm {
  top: 4px;
  left: 5px;
  width: 50px;
  height: 50px;
  position: absolute;
}
 
.i-phone1415-pro24-thq-ellipse7-elm {
  top: 0px;
  left: 0px;
  width: 60px;
  height: 60px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
 
.i-phone1415-pro24-thq-kalenderbutton-elm {
  top: 10px;
  left: 319px;
  width: 60px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.i-phone1415-pro24-thq-calendar-elm {
  top: 6px;
  left: 6px;
  width: 50px;
  height: 50px;
  position: absolute;
}
 
.i-phone1415-pro24-thq-ellipse6-elm {
  top: 0px;
  left: 0px;
  width: 60px;
  height: 60px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
 
.i-phone1415-pro24-thq-fitnessbutton-elm {
  top: 10px;
  left: 243px;
  width: 60px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.i-phone1415-pro24-thq-ellipse3-elm {
  top: 0px;
  left: 0px;
  width: 60px;
  height: 60px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
 
.i-phone1415-pro24-thq-barbell-elm {
  top: 4px;
  left: 4px;
  width: 50px;
  height: 50px;
  position: absolute;
}
 
.i-phone1415-pro24-thq-essenbutton-elm {
  top: 10px;
  left: 167px;
  width: 60px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.i-phone1415-pro24-thq-ellipse9-elm {
  top: 0px;
  left: 0px;
  width: 60px;
  height: 60px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
 
.i-phone1415-pro24-thq-apple-fruit-elm {
  top: 3px;
  left: 1px;
  width: 57px;
  height: 55px;
  position: absolute;
}
 
.i-phone1415-pro24-thq-vector-elm1 {
  top: 102px;
  left: 11px;
  width: 46px;
  height: 30px;
  position: absolute;
}
 
.i-phone1415-pro24-thq-text-elm10 {
  top: 124px;
  left: 79px;
  color: rgba(0, 0, 0, 1);
  width: 225px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Extra Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.i-phone1415-pro24-thq-text-elm11 {
  top: 540px;
  left: 11px;
  color: rgba(0, 0, 0, 0.6800000071525574);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Extra Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.i-phone1415-pro24-thq-header-elm {
  top: 0px;
  left: 0px;
  width: 393px;
  height: 82px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.i-phone1415-pro24-thq-rectangle2-elm {
  top: 0px;
  left: 0px;
  width: 393px;
  height: 82px;
  position: absolute;
}
 
.i-phone1415-pro24-thq-profilbutton-elm {
  top: 13px;
  left: 14px;
  width: 60px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.i-phone1415-pro24-thq-vector-elm2 {
  top: 5px;
  left: 7px;
  width: 45px;
  height: 45px;
  position: absolute;
}
 
.i-phone1415-pro24-thq-ellipse4-elm {
  top: 0px;
  left: 0px;
  width: 60px;
  height: 60px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
 
.i-phone1415-pro24-thq-einstellungsbutton-elm {
  top: 13px;
  left: 320px;
  width: 60px;
  height: 61px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.i-phone1415-pro24-thq-ellipse8-elm {
  top: 1px;
  left: 0px;
  width: 60px;
  height: 60px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
 
.i-phone1415-pro24-thq-gear-elm {
  top: 0px;
  left: 0px;
  width: 60px;
  height: 60px;
  position: absolute;
}
 
.i-phone1415-pro24-thq-statistikbutton-elm2 {
  top: 13px;
  left: 167px;
  width: 60px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.i-phone1415-pro24-thq-increase-elm2 {
  top: 5px;
  left: 4px;
  width: 50px;
  height: 50px;
  position: absolute;
}
 
.i-phone1415-pro24-thq-ellipse1-elm2 {
  top: 0px;
  left: 0px;
  width: 60px;
  height: 60px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
 
.i-phone1415-pro24-thq-linechart-elm {
  top: 205px;
  left: 27px;
  width: 336px;
  height: 293px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.i-phone1415-pro24-thq-rectangle-elm {
  top: 5.726421356201172px;
  left: 0.6653889417648315px;
  width: 333px;
  height: 286px;
  position: absolute;
}
 
.i-phone1415-pro24-thq-xaxisgrid-elm1 {
  top: 5.726421356201172px;
  left: 14.304924011230469px;
  width: 0px;
  height: 268px;
  position: absolute;
}
 
.i-phone1415-pro24-thq-xaxisgrid-elm2 {
  top: 5.726421356201172px;
  left: 94.14647674560547px;
  width: 0px;
  height: 268px;
  position: absolute;
}
 
.i-phone1415-pro24-thq-xaxisgrid-elm3 {
  top: 5.726421356201172px;
  left: 173.988037109375px;
  width: 0px;
  height: 268px;
  position: absolute;
}
 
.i-phone1415-pro24-thq-xaxisgrid-elm4 {
  top: 5.726421356201172px;
  left: 253.16436767578125px;
  width: 0px;
  height: 268px;
  position: absolute;
}
 
.i-phone1415-pro24-thq-xaxisgrid-elm5 {
  top: 5.726421356201172px;
  left: 333.6712951660156px;
  width: 0px;
  height: 268px;
  position: absolute;
}
 
.i-phone1415-pro24-thq-yaxisgrid-elm1 {
  top: 274.38922119140625px;
  left: 14.637618064880371px;
  width: 319px;
  height: 1px;
  position: absolute;
}
 
.i-phone1415-pro24-thq-yaxisgrid-elm2 {
  top: 207.58140563964844px;
  left: 14.637618064880371px;
  width: 319px;
  height: 1px;
  position: absolute;
}
 
.i-phone1415-pro24-thq-yaxisgrid-elm3 {
  top: 140.77357482910156px;
  left: 14.637618064880371px;
  width: 319px;
  height: 1px;
  position: absolute;
}
 
.i-phone1415-pro24-thq-yaxisgrid-elm4 {
  top: 73.01134490966797px;
  left: 14.637618064880371px;
  width: 319px;
  height: 1px;
  position: absolute;
}
 
.i-phone1415-pro24-thq-yaxisgrid-elm5 {
  top: 5.2492194175720215px;
  left: 14.637618064880371px;
  width: 319px;
  height: 1px;
  position: absolute;
}
 
.i-phone1415-pro24-thq-xaxis-elm {
  top: 274.38922119140625px;
  left: 14.637618064880371px;
  width: 319px;
  height: 1px;
  position: absolute;
}
 
.i-phone1415-pro24-thq-yaxis-elm {
  top: 5.726421356201172px;
  left: 14.304924011230469px;
  width: 0px;
  height: 268px;
  position: absolute;
}
 
.i-phone1415-pro24-thq-text-elm12 {
  top: 281.5471496582031px;
  left: 7.984155178070068px;
  color: rgba(0, 0, 0, 1);
  width: 13px;
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.i-phone1415-pro24-thq-text-elm13 {
  top: 281.5471496582031px;
  left: 87.6594009399414px;
  color: rgba(0, 0, 0, 1);
  width: 13px;
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.i-phone1415-pro24-thq-text-elm14 {
  top: 281.5471496582031px;
  left: 167.33465576171875px;
  color: rgba(0, 0, 0, 1);
  width: 13px;
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.i-phone1415-pro24-thq-text-elm15 {
  top: 281.5471496582031px;
  left: 247.00990295410156px;
  color: rgba(0, 0, 0, 1);
  width: 13px;
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.i-phone1415-pro24-thq-text-elm16 {
  top: 281.5471496582031px;
  left: 320.51141357421875px;
  color: rgba(0, 0, 0, 1);
  width: 13px;
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.i-phone1415-pro24-thq-text-elm17 {
  top: 201.3778839111328px;
  color: rgba(0, 0, 0, 1);
  width: 8px;
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: right;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.i-phone1415-pro24-thq-text-elm18 {
  top: 134.57005310058594px;
  color: rgba(0, 0, 0, 1);
  width: 8px;
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: right;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.i-phone1415-pro24-thq-text-elm19 {
  top: 67.7622299194336px;
  color: rgba(0, 0, 0, 1);
  width: 8px;
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: right;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.i-phone1415-pro24-thq-text-elm20 {
  color: rgba(0, 0, 0, 1);
  width: 8px;
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: right;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.i-phone1415-pro24-thq-line-elm {
  top: 35.89722442626953px;
  left: 14.637618064880371px;
  width: 319px;
  height: 181px;
  position: absolute;
}
 
.i-phone1415-pro24-thq-marker-elm1 {
  top: 32.44951248168945px;
  left: 11.97623348236084px;
  width: 5px;
  height: 8px;
  position: absolute;
}
 
.i-phone1415-pro24-thq-marker-elm2 {
  top: 102.12055206298828px;
  left: 91.15248107910156px;
  width: 5px;
  height: 8px;
  position: absolute;
}
 
.i-phone1415-pro24-thq-marker-elm3 {
  top: 186.10743713378906px;
  left: 170.99403381347656px;
  width: 5px;
  height: 8px;
  position: absolute;
}
 
.i-phone1415-pro24-thq-marker-elm4 {
  top: 212.8305206298828px;
  left: 250.83558654785156px;
  width: 5px;
  height: 8px;
  position: absolute;
}
 
.i-phone1415-pro24-thq-marker-elm5 {
  top: 179.42660522460938px;
  left: 330.67730712890625px;
  width: 5px;
  height: 8px;
  position: absolute;
}
 
.i-phone1415-pro24-thq-framebung1-lattzug-elm {
  top: 603px;
  left: -1px;
  width: 393px;
  height: 49px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 0.5299999713897705);
}
 
.i-phone1415-pro24-thq-text-elm21 {
  top: 10px;
  left: 58px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.i-phone1415-pro24-link {
  display: contents;
}
 
.i-phone1415-pro24-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.i-phone1415-pro24-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.i-phone1415-pro24-text {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
